.container_genero_musical{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.container_filtro_valor{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.87rem;
}

.container_produto{
    width: 20rem;
    height: 16.188rem;
    background-color: var(--color-grey-8);
    margin-bottom: 1.25rem;
}

.container_produto > img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.container_valor_btComprar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.25rem;
}